*{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}
.botones{
    display: flex;
    margin-top: 50px;
    margin-bottom: 50px;
    gap: 200px;
    justify-content: center;
    align-items: center;

}

#btnUsers{
border: none;
width: 300px;
height: 100px;
font-size: 16pt;
background-color: rgb(0, 153, 255);
color: beige;
font-weight: bold;
height: 40px;
border-radius: 3px;
}

#btnBooks {
border: none;
width: 300px;
height: 100px;
font-size: 16pt;
background-color: rgb(0, 153, 255);
color: beige;
font-weight: bold;
height: 40px;
border-radius: 3px;
}





#content{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    gap: 10px;

}
.card{
    gap: 20px;
    border: 1px black solid;
    padding: 20px;
    width: 300px;
    background-color: rgb(224, 224, 224);
}
img{
    width: 100%;
    height: 500px;
    object-fit: cover;
}


.cardOne{
    margin-top: 50px;
    gap: 20px;
    padding: 20px;
    width: 300px;
    background-color: rgba(219, 219, 219, 0.671);
}

.cardOne ul {
    background-color: aliceblue;
    list-style: none;
    padding: 12px;
    font-size: 12px;
}    




